---
layout: default
---

<div id="hero" class="hero-unit">
  <div class="container">
    <h2> Search for a song</h2>
        <div id='select-track'>
          <div id="search-div">
            <div id='search-form'>
                Search for a track: <input id="search" type="text" class="input-large search-query" title="Search text">
                <button id="go-search" class='btn btn-default'> Search </button>
            </div>
          </div>
        </div>
        <div id="search-list"> </div>
    <h2> Use direct URL</h2>
        <div id='go-with-links'>
          <div id="direct-links-div">
            <div id='links-form'>
                Audio URL: <input id="direct-url" type="text" inputmode="url" class="input-large search-query" placeholder="YouTube, SoundCloud, Bandcamp, Vimeo, etc." title="Audio URL">
                <button id="go-direct" class='btn btn-default'> Open </button>
            </div>
        </div>
      </div>
    <h2 id="pick"> Or pick one of these favorites</h2>
        <div id="popular-list"> </div>
  </div>
    <div id='info'> </div>
</div>

{% include search-js.html %}
